@charset "UTF-8";

body {
    background-color: var(--cor_alternativa_1);
    line-height: 2em;
    min-height: 100vh;
}

header {
    background-color: var(--cor_principal);
    text-align: center;
}

header h1 {
    color: var(--cor_texto_principal);
    padding: 50px 0 20px 0;

    font-family: var(--font_h1);
    font-variant: small-caps;
    font-size: var(--fontSize_h1);
}

h2 {
    font-family: var(--font_h1);
    font-variant: small-caps;
    font-size: var(--fontSize_h2);
    padding-bottom: 20px;
}

header p {
    padding-bottom: 50px;
}

a {
    color: var(--cor_alternativa_1);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    font-family: var(--font_text);
    font-size: var(--fontSize_text);
}


section {
    padding: 10vh 0 10vh 0;
}

.text p {
    padding-bottom: 20px;
}

.img {
    background-color: var(--cor_alternativa_2);
}

footer {
    background-color: var(--cor_secundaria);
    color: var(--cor_texto_principal);
    text-align: center;
    padding: 20px;

    font-size: var(--fontSize_footer);
}
